/* Algemene instellingen */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    margin: 0;
    background-color: var(--background-color);
    font-family: var(--font);
}

main {
    width: 85vw;
    margin: 0 auto;
    min-height: 100vh; /* Zorgt ervoor dat de footer onderaan staat als er weinig inhoud is */
    padding-bottom: 50px; /* Zorgt voor wat ruimte tussen de inhoud en de footer */
    transition: margin-top 0.5s ease-in-out;
}

a {
    text-decoration: none;
}

/* ---------- :root variabelen ---------- */
:root {
    --font: "lato", sans-serif;
    --heading-font: "VagRundschrift", sans-serif;

    /* ---------- Font sizes ---------- */
    --font-size-xs: 0.5rem;
    --font-size-sm: 0.75rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.875rem;
    --font-size-3xl: 2rem;
    --font-size-4xl: 2.5rem;
    --font-size-5xl: 3rem;
    --font-size-6xl: 3.5rem;

    /* ---------- Colors ---------- */
    --text-color: #333333; /* Donkergrijs voor standaard tekst */
    --semi-text-color: #555555; /* Iets lichter grijs voor secundaire tekst */
    --alt-text-color: #ffffff; /* Wit voor alternatieve tekst op donkere achtergronden */
    --primary-color: #005b96; /* Diep blauw */
    --secondary-color: #008c72; /* Zeegroen */
    --background-color: #f4f4f4; /* Lichtgrijs */
    --secondary-background-color: #e0e0e0; /* Iets donkerder grijs */
    --background-category-color: #cce7ff; /* Lichtblauw */
    --hover-state-color: #66c2a5; /* Licht zeegroen */
    --accent-color: #003f5c; /* Donkerblauw */
    --menu-color: #004c70; /* Middelblauw */
    --menu-color-hover: #003f5c; /* Donkerblauw */
    --comment-background-color: #d9f2e6; /* Zeer lichtgroen */



    /* ---------- Paddings ---------- */
    --padding-button: 8px 16px;
    --padding-label: 4px;

    /* ---------- Border radius ---------- */
    --border-radius-sm: 6px;
    --border-radius-md: 12px;
    --border-nav: 3px solid var(--primary-color);
    --border-radius-input: 12px 0px 0px 12px;
    --border-radius-send: 0px 12px 12px 0px;

    /* ---------- Misc ---------- */
    --gap: .5rem;
    --card-max-width: 384px;
    --focus: solid 3px hsl(321, 58%, 55%);
}

/* ---------- Algemene element styling ---------- */
ul li {
    list-style: none;
}

:focus {
    outline: var(--focus);
    border-radius: var(--border-radius-sm);
}

:focus:not(:focus-visible) {
    outline: 0;
}

::placeholder {
    color: var(--text-color);
}

button {
    cursor: pointer;
}

/* ---------- Stijl voor de footer ---------- */

footer {
    background-color: var(--primary-color);
    color: var(--alt-text-color);
    position: relative;
    padding: 10px 25px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

footer a {
    color: var(--alt-text-color);
    text-decoration: none;
}

/* Zorg ervoor dat de footer onderaan blijft als er meer inhoud is */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

/* footer styling */
footer img {
    display: none;
}

/* ---------- Navigatie styling ---------- */
nav {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    flex-wrap: nowrap;
}

nav .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

nav .nav-links.active {
    max-height: 300px;
}

nav .nav-links a {
    color: var(--alt-text-color);
    background-color: var(--menu-color);
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    display: block;
}

/* Hamburger menu */
.menu-toggle {
    display: flex;
    cursor: pointer;
}

.menu-toggle img {
    width: 40px;
    height: 40px;
}

/* ---------- Back button styling ---------- */
.back-btn {
    display: inline-flex;
    color: var(--alt-text-color);
    background-color: var(--primary-color);
    font-size: var(--font-size-sm);
    font-weight: 700;
    padding: var(--padding-button);
    border-radius: var(--border-radius-sm);
    margin: 1em 0;
    text-transform: capitalize;
    transition: .2s;
    border: transparent;
    cursor: pointer;
}

.back-btn:hover {
    background-color: var(--hover-state-color);
}

/* ---------- Categorie styling ---------- */
/* .categorie-box {
    margin-bottom: 2rem;
    margin-left: 0.5rem;
    padding: var(--padding-button);
    width: fit-content;
    text-transform: capitalize;
    background-color: var(--accent-color);
    border: none;
    border-radius: var(--border-radius-sm);
    color: var(--alt-text-color);
} */
