* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    font-family: var(--font);
    min-height: 100vh;
}

:root {
    --font: "lato", sans-serif;
    --heading-font: "VagRundschrift", sans-serif;

    /* ---------- Font sizes ---------- */
    --font-size-xs: 0.5rem;
    --font-size-sm: 0.75rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.875rem;
    --font-size-3xl: 2rem;
    --font-size-4xl: 2.5rem;
    --font-size-5xl: 3rem;
    --font-size-6xl: 3.5rem;

    /* ---------- Colors: Text ---------- */
    --text-color: #000000;
    --semi-text-color: #000000d0;
    --alt-text-color: #ffffff;

    /* ---------- Colors: General ---------- */
    --primary-color: #6b0025;
    --secondary-color: #782743b1;
    --background-color: #f0e5e9;
    --background-color-alt: #ffffff;
    --background-category-color: #a4647aab;
    --hover-state-color: #c18ea0;
    --accent-color: #7b1838;
    --menu-color: #58001e;
    --menu-color-hover: #58001d77;


    /* ---------- Paddings ---------- */
    --padding-button: 8px 16px;
    --padding-label: 4px;

    /* ---------- Border radius ---------- */
    --border-radius-sm: 6px;
    --border-radius-md: 12px;
    --border-nav: 3px solid var(--primary-color);

    /* ---------- Misc ---------- */
    --gap: .5rem;
    --card-max-width: 384px;
    --focus: solid 3px hsl(321, 58%, 55%);
}

ul li {
    list-style: none;
}

:focus {
    outline: var(--focus);
    border-radius: var(--border-radius-sm);
}

:focus:not(:focus-visible) {
    outline: 0;
}

::placeholder {
    color: var(--text-color);
}

button {
    cursor: pointer;
}

.back-btn {
    display: inline-flex;
    color: var(--alt-text-color);
    background-color: var(--primary-color);
    font-size: var(--font-size-sm);
    font-weight: 700;
    padding: var(--padding-button);
    border-radius: var(--border-radius-sm);
    margin: 1em 0;
    text-transform: capitalize;
    transition: .2s;
    border: transparent;
    cursor: pointer;
}

.back-btn:hover {
    background-color: var(--hover-state-color);
}
