/* BASIS STYLING IN STYLESHEET (body, * etc.) */

main {
    width: 85vw;
    margin: 0 auto;
    transition: margin-top 0.5s ease-in-out;
}

a {
    text-decoration: none;
}

/* basis kleuren en styling van nav en footer */
nav,
footer {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* nav flexbox styling */
nav {
    flex-wrap: nowrap;
}

/* footer instellingen */
footer {
    color: var(--alt-text-color);

    /* footer logo */
    img {
        display: none;
    }

    a {
        color: var(--alt-text-color);
        text-decoration: none;
    }
}

/* hamburger menu bij aanklik */
.menu-toggle {
    display: flex;
    cursor: pointer;
}

/* hamburger menu img */
.menu-toggle img {
    width: 40px;
    height: 40px;
}

/* linkjes in nav */
.nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

/* bij active nav link plaatsing */
.nav-links.active {
    max-height: 300px;
}

/* nav linkjes styling */
.nav-links a {
    color: var(--alt-text-color);
    background-color: var(--menu-color);
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    display: block;
}

/* verplaatsing bij hamburger menu */
.shifted {
    margin-top: 220px;
}

.filter-select {
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    align-items: center;
}

.filter-buttons {
    padding: var(--padding-button);
    width: fit-content;
    text-transform: capitalize;
    background-color: var(--background-category-color);
    border: none;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    color: var(--alt-text-color);
    text-align: center;
    white-space: nowrap;

    a {
        color: var(--semi-text-color);
        text-decoration: none;
        font-weight: bold;
    }
}

h1 {
    font-weight: 800;
    margin: 1rem;
    text-align: center;
}

/* grid van alle webinars */
.webinars-container {
    padding: 2rem;
    display: grid;
    gap: 30px;

    /* article van de webinars */
    .webinar-item {
        color: var(--text-color);
        text-decoration: none;
        display: grid;
        align-items: center;
        justify-items: start;

        /* h2 titel van webinars */
        .webinar-title {
            font-size: var(--font-size-md);
            margin: 1rem 0.5rem;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        /* img thumbnail */
        .thumbnail-img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: var(--border-radius-md);
        }

        /* p van speakers & datum */
        .speakers-text,
        .date-text {
            margin-left: 0.5rem;
            text-transform: uppercase;
        }

        /* p speakers */
        .speakers-text {
            margin-bottom: 0.5rem;
            color: var(--primary-color);
        }

        /* p datum */
        .date-text {
            margin: 0.5rem 0 1rem 0.5rem;
            font-size: var(--font-size-md);
            color: var(--secondary-color);
        }

        /* categorie knop */
        .categorie-box {
            margin-bottom: 2rem;
            margin-left: 0.5rem;
            padding: var(--padding-button);
            width: fit-content;
            text-transform: capitalize;
            background-color: var(--accent-color);
            border: none;
            border-radius: var(--border-radius-sm);
            color: var(--alt-text-color);
        }
    }
}

/* tablet formaat */
@media (min-width: 768px) {

    /* nav linkjes styling */
    .nav-links a {
        color: var(--alt-text-color);
        text-decoration: none;
        text-align: center;
        display: block;
        background-color: var(--primary-color);
    }

    /* nav linkjes bij hover */
    .nav-links a:hover {
        font-weight: bold;
    }

    h1 {
        font-weight: 800;
        margin: 1em 0 1.5rem 2rem;
        text-align: left;
    }

    .filter-select {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        margin-left: 2rem;
        gap: 1rem 2rem;
        padding: 0.5rem;
    }

    .filter-buttons {
        padding: var(--padding-button);
        width: fit-content;
        text-transform: capitalize;
        background-color: var(--background-category-color);
        border: none;
        border-radius: var(--border-radius-sm);
        cursor: pointer;
        color: var(--alt-text-color);

        a {
            color: var(--semi-text-color);
            text-decoration: none;
            font-weight: bold;
        }

        &:hover {
            transform: scale(1.05);
            transition: 0.3s ease-in-out;
            background-color: var(--hover-state-color);
        }
    }

    .menu-toggle {
        display: none;
    }

    .nav-links {
        flex-direction: row;
        position: static;
        width: auto;
        max-height: none;
        overflow: visible;
    }

    .nav-links a {
        padding: 10px 15px;
        color: var(--alt-text-color);
        text-decoration: none;
    }

    .webinars-container {
        grid-template-columns: repeat(2, 1fr);
    }

    footer img {
        width: 125px;
        height: auto;
        object-fit: cover;
        display: block;
    }
}

/* desktop formaat */
@media (min-width: 1024px) {

    /* nav linkjes styling */
    .nav-links a {
        color: var(--alt-text-color);
        text-decoration: none;
        text-align: center;
        display: block;
        background-color: var(--primary-color);
    }

    /* nav linkjes bij hover */
    .nav-links a:hover {
        font-weight: bold;
    }

    h1 {
        font-weight: 800;
        margin: 1em 0 1.5rem 2rem
    }

    .filter-select {
        padding: 0.5rem;
    }

    .filter-buttons {
        padding: var(--padding-button);
        width: fit-content;
        text-transform: capitalize;
        background-color: var(--background-category-color);
        border: none;
        border-radius: var(--border-radius-sm);
        cursor: pointer;
        color: var(--alt-text-color);

        a {
            color: var(--semi-text-color);
            text-decoration: none;
            font-weight: bold;
        }

        &:hover {
            transform: scale(1.1);
            transition: 0.3s ease-in-out;
            background-color: var(--hover-state-color);
        }
    }

    .webinars-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }

    img {
        width: 150px;
    }

    footer ul {
        display: contents;
    }

    footer a {
        text-decoration: none;
        color: var(--alt-text-color);
    }
}